#mg{
   font-family:fantasy;
       font-size:20px;
    color:crimson;
    float:left;
   padding-top:5px;
    padding-left:9px;
    padding-right:9px;
    padding-bottom:5px;}
#tb:hover{
    background-color: #f78fb3;
}

img{
    height: 150px;
        width:150px;
}
img2{
    height: 150px;
        width:150px;
}
img3{
    height: 150px;
        width:150px;
}
img4{
    height: 150px;
        width:150px;
}
img5{
    height: 150px;
        width:150px;
}
img6{
    height: 150px;
        width:150px;
}

img7{
    height: 150px;
        width:150px;
}
img8{
    height: 150px;
        width:150px;
}